@model IEnumerable<CsLeague.Models.Players>

@foreach (var item in Model)
{
    <tr id="@Html.DisplayFor(modelItem => item.Id)">
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Age)</td>
        <td>@Html.DisplayFor(modelItem => item.Gender)</td>
        <td>@Html.DisplayFor(modelItem => item.Score)</td>
    </tr>
}